
#page ,
.myrow
{
    font-family: sans-serif;
}
#page
{
    text-align: center;
    padding-top: 100px;
    background-color: rgb(255, 255, 255);
}
#page p
{
    width: 40%;
    margin-left: 30%;
    text-align: center;
}
#page h4
{
    font-weight: bold;
}
.myrow
{  
    background-color: rgb(240, 234, 234) !important;
}
.myrow div
{
    text-align: center;
    background-color:white;
    overflow: hidden;
}
.myrow div div
{
    width: 85%;
    overflow: hidden;
}
.myrow img
{
    max-width: 100%;
    border-radius: 7%;
    -webkit-border-radius: 7%;
    -moz-border-radius: 7%;
    -ms-border-radius: 7%;
    -o-border-radius: 7%;
    transition-property: all;
    transition-duration: 3s;
    
}
.myrow img:hover
{
    transform: scale(1.2);
    cursor: pointer;
}
.myrow button
{
    padding: 6px ;
    margin-bottom: 8px;
    background: rgb(255, 255, 255);
    box-sizing: border-box;
    border: honeydew;
    cursor: pointer;
    width: 80%;
    border-radius: .25rem;
    color: #085671;
}
.myrow button i
{
   padding-right: 5%;
}
.myrow button:hover
{
    background: #085671;
    color: white;
}


    